<header>
    
     <div class="title-container">
    <img src="img/logo1.png" alt="logo" class="title-image">
    <h1>
        <span class="bienvenidos-text">Bienvenidos a</span>
        <span class="amor-text">Amor</span>
        <span class="y-text">y</span>
        <span class="abrigo-text">Abrigo</span>
    </h1>
  </div>
    <nav>
        <button id="menu-toggle" aria-label="Toggle navigation">
            <span class="hamburger"></span>
        </button>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros.html">Nosotros</a></li>
            <li><a href="/programas">Proyectos</a></li>
            <li><a href="/ayuda">Ayudar</a></li>
            <li><a href="/fotos">Fotos</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/contacto">Contáctenos</a></li>
            <li><a href="/donaciones">Donaciones</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
</header>